    .titulo-site-contrucao {
        background-image: url('assets/contrucao.webp');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }